body{
    background-color: #222;
}

.color1{
    background-color: #ee9d40;
}

.color2{
    background-color: #86ee40;
}

.color3{
    background-color: #40aeee;
}

.color4{
    background-color: #ee4049;
}

#svgOne{
    width: 70%;
    height: 80vh;
    display: block;
    margin: 5% auto;
    border: solid #222 1px;
    background-color: #e6e9ec;
}

#bgColor{
    background-color: #e6e9ec;
}

#borderColor{
    background-color: #e6e9ec;
}

.colorSelector{
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 2px;
}
